# editorconfig file for Generative Design p5 Code Package repository
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
curly_bracket_next_line = false
spaces_around_operators = true
